You are an expert at query expansion.

Given:
 Question: {{ query }}

Perform query expansion on the question above and return the new expanded query. If there are multiple common ways of phrasing a user question or common synonyms for key words in the question, make sure to return multiple versions of the query with the different phrasings.  Do not output a list of new queries; instead, return an enriched and detailed singular query.

If there are acronyms or words you are not familiar with, do not try to rephrase them.
